<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole - About</title>
    <link rel="shortcut icon" href="/img/icono/favicon.ico" sizes="16x16 32x32" />
    <script src="https://kit.fontawesome.com/02c71d156f.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/music">MUSIC</a></li>
            <li><a href="/contact">CONTACT</a></li>
        </ul>
    </nav>
    <ul>
        <li><a href="https://twitter.com/?lang=es" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/home.php" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="https://www.spotify.com/" target="_blank"><i class="fa-brands fa-spotify"></i></a></li>
        <li><a href="https://www.apple.com/" target="_blank"><i class="fa-brands fa-apple"></i></a></li>
        <li><a href="https://www.amazon.com/" target="_blank"><i class="fa-brands fa-amazon"></i></a></li>
        <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
    </ul>
    </header>
    <section>
        <h1>EMILIA <br> COLE//</h1>
        <h3><span style="color: green;">"Seattle-based pop star makes her <br> indie debut with a hauntingly beautiful
                album "</span></h3>
        <h5><span style="color: rgb(5, 87, 5);">- John Tirckle Music Today Post </span></h5>
    </section>
    <section>
        <h3><span style="color: green;">"Emilia Cole is one of the<br> scene's breakout stars"</span></h3>
        <h5><span style="color: rgb(5, 87, 5);">- John Tirckle Music Today Post </span></h5>
    </section>
    <img src="img/emilia-about.jpg" alt="imagen de portada de About" width="100%">
</body>

</html>