<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole - Contact</title>
    <link rel="shortcut icon" href="/img/icono/favicon.ico" sizes="16x16 32x32" />
    <script src="https://kit.fontawesome.com/02c71d156f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
</head>

<body class="">
    <header class="about_header">
        <nav class="header_nav_horizontal header_uppercase">
            <ul class="header_ul">
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/music">MUSIC</a></li>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
        </nav>
        <nav class="header_nav_horizontal header_uppercase about_header_pag">
            <ul>
                <li>
                    <a href="https://twitter.com/?lang=es" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/home.php" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://www.spotify.com/" target="_blank"><i class="fa-brands fa-spotify"></i></a>
                </li>
                <li>
                    <a href="https://www.apple.com/" target="_blank"><i class="fa-brands fa-apple"></i></a>
                </li>
                <li>
                    <a href="https://www.amazon.com/" target="_blank"><i class="fa-brands fa-amazon"></i></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                </li>
            </ul>
            </nav>
    </header>
    <section class="titulo">
        <h1>CONTACT//</h1>
        <h3> WE ARE HERE</h3>
        <iframe class="contact_img "
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158858.182370726!2d-0.10159865000000001!3d51.52864165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondres%2C%20Reino%20Unido!5e0!3m2!1ses!2sar!4v1697138540363!5m2!1ses!2sar"></iframe>
    </section>
    <section>
        <h3>CONTACT INFO</h3>
        <H5 class="contact_h5"> MANAGEMENT | Karen Blanche</H5>
        <ul>
            <li>
                <h6>Email : <a class="contact_letra_grey"  href="mailto: abel772003@gmail.com">info@mysite.com</a> </h6>
            </li>
            <li>
                <h6>Phone :  <a class="contact_letra_grey"  href="tel: +5491134381442">11-3438-1442</a> </h6>
            </li>
        </ul>
        <H5 class="contact_h5"> BOOKING | Daniel Ku </H5>
        <ul>
            <li>
                <h6>Email :<a class="contact_letra_grey"  href="mailto: abel772003@gmail.com">info@mysite.com</a></h6>
            </li>
            <li>
                <h6>Phone : <a class="contact_letra_grey"  href="tel: +5491134381442">11-3438-1442</a></h6>
            </li>
        </ul>
        <H5 class="contact_h5"> LABEL | Wis Records Jake Coldham</H5>
        <ul>
            <li>
                <h6>Email :<a class="contact_letra_grey"  href="mailto: abel772003@gmail.com">info@mysite.com</a></h6>
            </li>
            <li>
                <h6>Phone : <a class="contact_letra_grey"  href="tel: +5491134381442">11-3438-1442</a></h6>
            </li>
        </ul>
        <H5 class="contact_h5"> PR | That Git Pr, Sara Brookstone</H5>
        <ul>
            <li>
                <h6>Email :<a class="contact_letra_grey" href="mailto: abel772003@gmail.com">info@mysite.com</a></h6>
            </li>
            <li>
                <h6>Phone : <a class="contact_letra_grey"  href="tel: +5491134381442">11-3438-1442</a></h6>
            </li>
        </ul>
    </section>
</body>

</html>