<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Emilia Cole</title>
  <link rel="shortcut icon" href="/img/icono/favicon.ico" sizes="16x16 32x32" />
  <script src="https://kit.fontawesome.com/02c71d156f.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/home.css">
</head>

<body>
  <header>
    <nav class="header-nav-home">
      <ul class="lista-nav-home">
        <li><a href="/">HOME</a></li>
        <br>
        <br>
        <li><a href="/about">ABOUT</a></li>
        <br>
        <br>
        <li><a href="/music">MUSIC</a></li>
        <br>
        <br>
        <li><a href="/contact">CONTACT</a></li>
      </ul>
    </nav>
    <br>
    <ul class="paginas">
      <li><a href="https://twitter.com/?lang=es" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
      <li><a href="https://www.facebook.com/home.php" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
      <li><a href="https://www.spotify.com/" target="_blank"><i class="fa-brands fa-spotify"></i></a></li>
      <li><a href="https://www.apple.com/" target="_blank"><i class="fa-brands fa-apple"></i></a></li>
      <li><a href="https://www.amazon.com/" target="_blank"><i class="fa-brands fa-amazon"></i></a></li>
      <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
    </ul>
  </header>
  <section>
    <br>
    <br>
    <h3>EMILIA <br> COLE//</h3>
    <h1>TWIST IN MY REALITY</h1>
    <br>
    <br>
    <img class="imagen-home" src="img/emilia-home.jpg" alt="imagen de portada" width="100%">
  </section>
</body>

</html>