<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emilia Cole - Music</title>
    <link
      rel="shortcut icon"
      href="/img/icono/favicon.ico"
      sizes="16x16 32x32"
    />
    <script
      src="https://kit.fontawesome.com/02c71d156f.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/music.css" />
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/header.css" />
  </head>

  <body>
    <header class="music_header">
      <nav
        id="top"
        class="header_nav_horizontal header_uppercase header_sombreado"
      >
        <ul class="header_ul">
          <li><a href="/">HOME</a></li>
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/music">MUSIC</a></li>
          <li><a href="/contact">CONTACT</a></li>
        </ul>
      </nav>
      <nav class="header_nav_horizontal header_uppercase">
        <ul>
          <li>
            <a href="https://twitter.com/?lang=es" target="_blank"
              ><i class="fa-brands fa-x-twitter"></i
            ></a>
          </li>
          <li>
            <a href="https://www.facebook.com/home.php" target="_blank"
              ><i class="fa-brands fa-facebook"></i
            ></a>
          </li>
          <li>
            <a href="https://www.spotify.com/" target="_blank"
              ><i class="fa-brands fa-spotify"></i
            ></a>
          </li>
          <li>
            <a href="https://www.apple.com/" target="_blank"
              ><i class="fa-brands fa-apple"></i
            ></a>
          </li>
          <li>
            <a href="https://www.amazon.com/" target="_blank"
              ><i class="fa-brands fa-amazon"></i
            ></a>
          </li>
          <li>
            <a href="https://www.instagram.com/" target="_blank"
              ><i class="fa-brands fa-instagram"></i
            ></a>
          </li>
        </ul>
      </nav>
    </header>
    <section id="top">
      <h2 class="titulo">MUSIC//</h2>
      <h4>Direct link</h4>
      <ul>
        <li><a href="#album">album</a></li>
        <li><a href="#video1">video: Organic love</a></li>
        <li><a href="#video2">video: street light</a></li>
      </ul>
      <article>
         <h3 id="album">
          ALBUM <br />
          TWIST IN MY REALITY
         </h3>
      </article> 
      <article>
         <img class="music_album" src="img/emilia-play-list.png" alt="" />
         <ol class="music_ol_album">
          <li>01. > Organic love | 02:40</li>
          <li>02. > Twist in My Reality | 02:10</li>
          <li>03. > Street Light | 03:28</li>
          <li>04. > love Don't Live Here Anymore(Cover) | 03:49</li>
         </ol>
          <a class="music_got_top"  href="#top">Got Top</a>
            <h3>
             VIDEO <br />
             ORGANIC LOVE
            </h3>
     </article>
      <article id="video1"></article>
      <iframe
        src="https://player.vimeo.com/video/135166028?h=fdb0646ae5"
        width="640"
        height="360"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture"
        allowfullscreen
      ></iframe>
      <p>
        Directed by VINCE MALC & EMILIA COLE <br />
        Edited and filmed by NICOLAS TROY <br />
        Produced by NICKY HEART, <br />
        Wild films LTD
      </p>
      <a class="music_got_top"  href="#top">Got Top</a>
      <h3>
        VIDEO <br />
        STREET LIGHT
      </h3>
      <article id="video2"></article>
      <iframe
        src="https://player.vimeo.com/video/134861419?h=24e3183108"
        width="640"
        height="360"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture"
        allowfullscreen
      ></iframe>
      <p>
        Directed by VINCE MALC & EMILIA COLE <br />
        Edited and filmed by NICOLAS TROY <br />
        Produced by NICKY HEART, <br />
        Wild films LTD
      </p>
    </section>
    <a class="music_got_top" href="#top">Got Top</a>
  </body>
</html>
