.home_body {
    background-image: url(/img/emilia-home.jpg);
    background-size: 86.7%;
    background-repeat: no-repeat; 
    background-position: right;
}

.section_h3 {
    margin: 120px 0px 120px 40px;
    font-size: 20px;
}

.section_h1 {
    margin:50px 0px 10px 0px;
    font-size: 90px;
    background-color: rgba(255, 255, 255,0.5);
    width: 100%;
}
